<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO Application</title>
    <link rel="stylesheet" href="todo-style.css">
</head>
<body>
<div class="container">
    <header>
        <h1>나의 해야할 일들</h1>
        <button id="addTodo">새로운 TODO 등록</button>
    </header>
    <main>
        <div class="column todo">
            <h2>TODO</h2>
            <!-- Iterate over TODO items of type TODO -->
            <div th:each="item : ${todoItems}" th:if="${item.type == 'TODO'}" class="card">
                <h3 th:text="${item.title}">제목</h3>
                <p>등록날짜: <span th:text="${item.dateTime}">날짜</span>, <span th:text="${item.name}">담당자</span>, 우선순위 <span th:text="${item.sequence}">우선순위</span></p>
                <button class="arrow" th:attr="onclick='moveCard(event, ''doing'')'">→</button>
            </div>
        </div>
        <div class="column doing">
            <h2>DOING</h2>
            <!-- Iterate over TODO items of type DOING -->
            <div th:each="item : ${todoItems}" th:if="${item.type == 'DOING'}" class="card">
                <h3 th:text="${item.title}">제목</h3>
                <p>등록날짜: <span th:text="${item.dateTime}">날짜</span>, <span th:text="${item.name}">담당자</span>, 우선순위 <span th:text="${item.sequence}">우선순위</span></p>
                <button class="arrow" th:attr="onclick='moveCard(event, ''done'')'">→</button>
            </div>
        </div>
        <div class="column done">
            <h2>DONE</h2>
            <!-- Iterate over TODO items of type DONE -->
            <div th:each="item : ${todoItems}" th:if="${item.type == 'DONE'}" class="card">
                <h3 th:text="${item.title}">제목</h3>
                <p>등록날짜: <span th:text="${item.dateTime}">날짜</span>, <span th:text="${item.name}">담당자</span>, 우선순위 <span th:text="${item.sequence}">우선순위</span></p>
            </div>
        </div>
    </main>
</div>
<script src="scripts.js"></script>
</body>
</html>
